@import "tailwindcss";

/* -------------------------------------------------------------- */
/* --- COMPONENTS --- */
/* -------------------------------------------------------------- */
@layer components {
  /*------- Layout ------- */
  .layout {
      @apply flex flex-col min-h-screen;
  }
}
